@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

#interface{
    border: 1px solid #606060;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -17px;
    left: 1000px;
}

nav#menu li {
    display: inline-block;
    background-color: #ddd;
    padding: 5px;
    margin: 10px;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: #000;
    text-decoration: none;
}

nav#menu a:hover {
    color: white;
}

section#corpo {
    border: 1px solid #606060;
    display: block;
    min-width: 320px;
    max-width: 800px;
    display: inline-block;
    
}

.contencaoPerguntas {
    display: block;
    width: 100%;
    height: 100%;
}

#perguntas {
    display: flex;
    justify-content: center;
}

#rodape {
    clear: both;
    padding: 10px;
    margin-top: 100px;
    font-size: 13px;
}

.caixa{

    border: 1.5px solid #606060;
    height: 100%;
    width: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    align-items: flex-end;
    float: right;
}

.item{
    width: 50%;
    height: 50%;
    padding: 5%;
    margin: 25%;
    background-color: green;
}

.p1{
    background-color: #000;
}

.contencaoPerguntas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.voltar{
    margin-right: 20px;
    display: flex;
}
.proxima {
    display: flex;
    margin-left: 616px;
}

#voltarPergunta,
#proximaPergunta {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#voltarPergunta:hover,
#proximaPergunta:hover {
    background-color: #0056b3;
}


label {
    display: block; 
    margin-bottom: 10px; 
    font-weight: bold; 
    margin-right: 8px;
    margin-left: 8px;
}


.Atletas {
    width: 80px; 
    padding: 0.1px 1px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #f9f9f9; 
    appearance: none; 
}

.Atletas option {
    padding: 1px; 
    font-size: 14px; 
}


.Atletas option:checked {
    font-weight: bold; 
    background-color: lightblue;
}

button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
 
#labelMedalhas{
    display: flex;
    margin-left: 270px;
}